body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: wheat;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  /* display: inline-block; */
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: magenta;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  border-radius: 20%;
  background-color: navy;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.w {
  background-image: url("./images/tom1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.a {
  background-image: url("./images/tom2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.s {
  background-image: url("./images/tom3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.d {
  background-image: url("./images/tom4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.j {
  background-image: url("./images/crash.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.k {
  background-image: url("./images/snare.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.l {
  background-image: url("./images/kick.png");
  background-size: contain;
  background-repeat: no-repeat;
}